---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Techniques from "../components/Techniques.astro";
import Features from "../components/Features.astro";
import Locations from "../components/Locations.astro";
import Feedbacks from "../components/Feedbacks.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<Layout
  title="Marcio Trombeta | Massoterapeuta Profissional – Imirim, SP"
  description="Especialista em Massagem Relaxante, Shiatsu e Massagem Tântrica. Atendimento no Imirim (Zona Norte de São Paulo). Agende sua sessão agora."
  canonical="https://marciotrombeta.com.br/"
>
  <Header />
  <main>
    <Hero />
    <About />
    <Techniques />
    <Features />
    <Feedbacks />
    <Locations />
  </main>
  <Footer />
</Layout>
